# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
bokeh
dask-core
datashader
fastapi
fastparquet
folium
hvplot
numpy
pandas
panel
stack_data
starlette
